{% load static %}

{% block subject %}Agentloop{% endblock %}
{% block html %}

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td align="center">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td align="center" valign="top" bgcolor="#203564" style="background-size:cover; background-position:top;" height="200">
                                    <table width="100%" height="200" border="0" align="center" cellpadding="48" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="line-height: 0px;">
                                                    <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://realtorx-staging-bucket.s3.us-west-1.amazonaws.com/static/email_templates/agentloop-logo.png" width="80" height="80" alt="logo">
                                                    <p style="font-family: 'Roboto', sans-serif; font-size:20px; color:#dbdbdb; line-height:24px; font-weight: 500;margin: 0;">AgentLoop</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            {% block content %}
            {% endblock %}
            <tr>
                <td align="center">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="background: #f8f8f8;">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td height="35"></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" style="font-family: 'Roboto', sans-serif; font-size:22px; color:#000000; line-height:24px; font-weight: 400;">On your cell? Click below.</td>
                                                            </tr>
                                                            <tr>
                                                                <td height="12"></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <a href="www.agentloop.us/platform" style="font-family: 'Roboto', sans-serif; font-size:26px; color:#203564; line-height: 32px; font-weight: 900; text-decoration: none;">www.agentloop.us/platform</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="35"></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <a href="www.agentloop.us/platform" style="font-family: 'Roboto', sans-serif; font-size:22px; color:#000000; line-height: 24px; font-weight: 400; text-decoration: none;">Or search for <strong>AgentLoop</strong> in the</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="40"></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" width="auto" style="vertical-align: top;">
                                                                    <a href="#" target="_blank"> <img src="https://realtorx-staging-bucket.s3.us-west-1.amazonaws.com/static/email_templates/app-store.png" style="width: auto;"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="15"></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" class="margin" width="auto" style="vertical-align: top;">
                                                                    <a href="#" target="_blank"> <img src="https://realtorx-staging-bucket.s3.us-west-1.amazonaws.com/static/email_templates/google-pay.png" style="width: auto; margin-left: 0px;"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="40"></td>
                                                            </tr>

                                                            <tr>
                                                                <table align="center" border="0" cellspacing="30" cellpadding="0" height="70" style="background: #203564; border-radius: 15px; width: 93%;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td height="50"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="center" style="vertical-align: top;">
                                                                                <a href="https://youtu.be/uPYJBARoVBA" target="_blank"> <img src="https://realtorx-staging-bucket.s3.us-west-1.amazonaws.com/static/email_templates/video.png" style="width: 100px;background: #203564;"> </a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="50"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </tr>

                                                            <tr>
                                                                <td align="center">
                                                                    <table border="0" align="center" cellpadding="0" cellspacing="10" style="">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" style="font-family: 'Roboto', sans-serif; font-size:18px; font-weight: 600; color:#000000; font-style: italic;">Demo Video</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="60">
                        <tbody>
                            <tr>
                                <td align="left" style="font-family: 'Roboto'; font-size:22px; font-weight: 400; color:#000000;">
                                    <p>Best</p>
                                    <br>
                                    <p>AgentLoop Team</p>
                                    <a href="mailto:industry@agentloop.us">connect@agentloop.us</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <hr>
            <tr>
                <td align="center">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="30">
                        <tbody>
                            <tr>
                                <td align="center" style="font-family: 'Roboto', sans-serif; font-size:18px; font-weight: 600; color:#000000; font-style: italic;">www.agentloop.us</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
