{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

  <hr>

  {% if validlink %}

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="OK"/>
    </form>

  {% else %}
    <p>The password reset link is invalid, possibly because it has already been used. Please request a new password
      reset.</p>
  {% endif %}

{% endblock %}
