{% extends 'email/email_base.html' %}


{% block subject %}Reset password{% endblock %}


{% block plain %}
Hello, {{ user.get_full_name }}

We got a request to reset your password.
Please follow the link below to reset your password.
http://{{ site.domain }}{{ user.get_password_reset_url }}
{% endblock %}


{% block content %}
  <p class="heading">Hello, {{ user.get_full_name }}</p>
  <p>We got a request to reset your password.<br>
    <a href="http://{{ site.domain }}{{ user.get_password_reset_url }}">Reset Password</a></p>
{% endblock %}
